{% extends "base.html" %}

{% block content %}

      {% if request.user.is_authenticated %}
        Hello {{ request.user.username }}
      {% else %}
        Hello Anonymus User
      {% endif %}
      <br>
      <a href="/create">Create a TODO</a>
      <br>
      <div class="col-4 offset-4">
      {% for todo in todo_list%}
        <div class="card mt-3">
          <div class="card_header">
            <a href="/{{ todo.id }}">{{ todo.name }}</a>
          </div>
          <div class="card_body">
            <p>its due by {{ todo.due_date }}</p>
          </div>
        </div>
      {% endfor %}
    </div>

{% endblock %}
